.item-add-form {
  margin-top: 10px;
}

.item-add-form__error {
  color: tomato;
  font-weight: bold;
}

.item-add-form__form {
  margin-top: 5px;
}

.item-add-form__label-input {
  margin-right: 10px;
}

